.table{
    margin: 50px 0;
}
button{
    margin: 35px 0 ;
}
h1{
    text-align: center;
    margin: 40px 0;
}
a{
    text-decoration: none !important;
    color: black !important;
}
.nav-link{
    text-decoration: none !important;
}
body{
    width: 100%;
}
